In [130]:
import csv
import pandas as pd

df = pd.read_csv('twice.csv', encoding='cp949')
df

,start_time,end_time,lyric,vocal1,vocal2,duration,song_name,song_year
0,"00:00:13,293","00:00:15,108",modu nareul gajigo,Nayeon,NaN,1.815,LikeOohAhh,2015
1,"00:00:15,108","00:00:16,687",maeil gaman an dujo,Nayeon,NaN,1.579,LikeOohAhh,2015
2,"00:00:16,687","00:00:18,327",naega neomu yeppeujo,Momo,NaN,1.640,LikeOohAhh,2015
3,"00:00:18,327","00:00:20,116",na ttaemune da himdeuljo,Momo,NaN,1.789,LikeOohAhh,2015
4,"00:00:20,116","00:00:21,705",eodil geotgo isseodo,Nayeon,NaN,1.589,LikeOohAhh,2015
...,...,...,...,...,...,...,...,...
1063,"00:02:39,787","00:02:41,790",geurae banggeum geu mal,Jeongyeon,NaN,2.003,TalkThatTalk,2022
1064,"00:02:41,790","00:02:44,500",Talk that talk ttak han madi,Tzuyu,NaN,2.710,TalkThatTalk,2022
1065,"00:02:44,500","00:02:46,569",Talk that talk L-O-V-E,Tzuyu,NaN,2.069,TalkThatTalk,2022
1066,"00:02:46,569","00:02:48,011",deullyeojweo Ooh,Nayeon,NaN,1.442,TalkThatTalk,2022
1067,"00:02:48,011","00:02:51,285",Now now now now now yeah,Nayeon,NaN,3.274,TalkThatTalk,2022

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   start_time  1068 non-null   object
 1   end_time    1068 non-null   object
 2   lyric       1068 non-null   object
 3   vocal1      1068 non-null   object
 4   vocal2      85 non-null     object
 5   duration    1068 non-null   float64
 6   song_name   1068 non-null   object
 7   song_year   1068 non-null   int64
dtypes: float64(1), int64(1), object(6)
memory usage: 66.9+ KB

# 누구 파트가 가장 많을까?

In [132]:
df['start_time'] = pd.to_datetime(df['start_time'])
df['end_time'] = pd.to_datetime(df['end_time'])
df['time'] = df['end_time'] - df['start_time']

df_nayeon = df[(df['vocal1'] == 'Nayeon') | (df['vocal2'] == 'Nayeon')]
print('나연:', df_nayeon['time'].sum())
df_momo = df[(df['vocal1'] == 'Momo') | (df['vocal2'] == 'Momo')]
print('모모:', df_momo['time'].sum())
df_sana = df[(df['vocal1'] == 'Sana') | (df['vocal2'] == 'Sana')]
print('사나:', df_sana['time'].sum())
df_mina = df[(df['vocal1'] == 'Mina') | (df['vocal2'] == 'Mina')]
print('미나:', df_mina['time'].sum())
df_tzuyu = df[(df['vocal1'] == 'Tzuyu') | (df['vocal2'] == 'Tzuyu')]
print('쯔위:', df_tzuyu['time'].sum())
df_jihyo = df[(df['vocal1'] == 'Jihyo') | (df['vocal2'] == 'Jihyo')]
print('지효:', df_jihyo['time'].sum())
df_dahyun = df[(df['vocal1'] == 'Dahyun') | (df['vocal2'] == 'Dahyun')]
print('다현:', df_dahyun['time'].sum())
df_chaeyoung = df[(df['vocal1'] == 'Chaeyoung') | (df['vocal2'] == 'Chaeyoung')]
print('채영', df_chaeyoung['time'].sum())
df_jeongyeon = df[(df['vocal1'] == 'Jeongyeon') | (df['vocal2'] == 'Jeongyeon')]
print('정연', df_jeongyeon['time'].sum())

나연: 0 days 00:10:30.662000
모모: 0 days 00:03:42.647000
사나: 0 days 00:04:50.539000
미나: 0 days 00:06:07.396000
쯔위: 0 days 00:04:58.769000
지효: 0 days 00:10:24.573000
다현: 0 days 00:04:10.312000
채영 0 days 00:04:19.960000
정연 0 days 00:05:17.170000

In [147]:
# 나연
print(df_nayeon[['time']])
print(df_nayeon['time'].sum())

                       time
0    0 days 00:00:01.815000
1    0 days 00:00:01.579000
4    0 days 00:00:01.589000
5    0 days 00:00:01.719000
18   0 days 00:00:03.273000
...                     ...
1053 0 days 00:00:01.946000
1060 0 days 00:00:01.962000
1061 0 days 00:00:01.971000
1066 0 days 00:00:01.442000
1067 0 days 00:00:03.274000

[201 rows x 1 columns]
0 days 00:10:30.662000

In [148]:
# 모모
print(df_momo[['time']])
print(df_momo['time'].sum())

                       time
2    0 days 00:00:01.640000
3    0 days 00:00:01.789000
33   0 days 00:00:03.238000
84   0 days 00:00:05.400000
86   0 days 00:00:02.613000
...                     ...
1013 0 days 00:00:02.931000
1028 0 days 00:00:01.623000
1029 0 days 00:00:02.217000
1058 0 days 00:00:02.081000
1059 0 days 00:00:01.746000

[97 rows x 1 columns]
0 days 00:03:42.647000

In [149]:
# 사나
print(df_sana[['time']])
print(df_sana['time'].sum())

                       time
6    0 days 00:00:02.089000
7    0 days 00:00:01.679000
32   0 days 00:00:03.296000
34   0 days 00:00:01.978000
35   0 days 00:00:01.405000
...                     ...
1023 0 days 00:00:01.973000
1024 0 days 00:00:01.471000
1043 0 days 00:00:02.782000
1044 0 days 00:00:02.030000
1045 0 days 00:00:01.417000

[102 rows x 1 columns]
0 days 00:04:50.539000

In [150]:
# 미나
print(df_mina[['time']])
print(df_mina['time'].sum())

                       time
9    0 days 00:00:01.629000
10   0 days 00:00:01.784000
12   0 days 00:00:01.774000
13   0 days 00:00:01.544000
31   0 days 00:00:03.663000
...                     ...
1006 0 days 00:00:02.455000
1033 0 days 00:00:02.575000
1034 0 days 00:00:01.001000
1035 0 days 00:00:04.682000
1047 0 days 00:00:03.968000

[115 rows x 1 columns]
0 days 00:06:07.396000

In [151]:
# 쯔위
print(df_tzuyu[['time']])
print(df_tzuyu['time'].sum())

                       time
14   0 days 00:00:03.319000
15   0 days 00:00:01.276000
36   0 days 00:00:03.490000
37   0 days 00:00:01.169000
38   0 days 00:00:02.154000
...                     ...
1004 0 days 00:00:02.109000
1014 0 days 00:00:03.793000
1015 0 days 00:00:04.789000
1064 0 days 00:00:02.710000
1065 0 days 00:00:02.069000

[110 rows x 1 columns]
0 days 00:04:58.769000

In [152]:
# 지효
print(df_jihyo[['time']])
print(df_jihyo['time'].sum())

                       time
8    0 days 00:00:03.410000
11   0 days 00:00:03.434000
16   0 days 00:00:02.368000
17   0 days 00:00:03.478000
22   0 days 00:00:03.079000
...                     ...
1041 0 days 00:00:01.790000
1042 0 days 00:00:02.155000
1048 0 days 00:00:04.083000
1054 0 days 00:00:01.761000
1055 0 days 00:00:02.245000

[209 rows x 1 columns]
0 days 00:10:24.573000

In [153]:
# 다현
print(df_dahyun[['time']])
print(df_dahyun['time'].sum())

                       time
26   0 days 00:00:02.899000
28   0 days 00:00:02.059000
30   0 days 00:00:03.284000
101  0 days 00:00:03.240000
109  0 days 00:00:02.712000
...                     ...
1030 0 days 00:00:01.893000
1031 0 days 00:00:02.129000
1032 0 days 00:00:02.097000
1056 0 days 00:00:02.726000
1057 0 days 00:00:01.470000

[101 rows x 1 columns]
0 days 00:04:10.312000

In [154]:
# 채영
print(df_chaeyoung[['time']])
print(df_chaeyoung['time'].sum())

                       time
27   0 days 00:00:03.829000
29   0 days 00:00:01.395000
30   0 days 00:00:03.284000
106  0 days 00:00:02.699000
111  0 days 00:00:02.889000
...                     ...
1011 0 days 00:00:01.817000
1012 0 days 00:00:02.390000
1026 0 days 00:00:02.283000
1027 0 days 00:00:01.974000
1049 0 days 00:00:03.805000

[108 rows x 1 columns]
0 days 00:04:19.960000

In [155]:
# 정연
print(df_jeongyeon[['time']])
print(df_jeongyeon['time'].sum())

                       time
52   0 days 00:00:03.614000
53   0 days 00:00:03.993000
54   0 days 00:00:03.420000
55   0 days 00:00:01.869000
89   0 days 00:00:02.832000
...                     ...
1036 0 days 00:00:02.341000
1037 0 days 00:00:01.697000
1038 0 days 00:00:02.437000
1062 0 days 00:00:02.025000
1063 0 days 00:00:02.003000

[108 rows x 1 columns]
0 days 00:05:17.170000